body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #EAEAEA;
}

.scv {
    width: 300px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;

    position: absolute;
    top: 0;
    right: 0;
    /*bottom: 0;*/
    left: 0;
    transform: translate3d(100%, 0, 0);
    transition: all 3s ease;
}

.scv.is-visible {
    transform: translate3d(0, 0, 0);
}

.scv-content.is-closed {
    visibility:hidden;
    display: none;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}

.scv-content.is-open {
    visibility:visible;
    display: block;
    opacity:1;
    transition-delay:0s;
}

.scv-header {
    padding: 5px;
    color: white;
    background: black;
}

.scv-name {
    float: left;
}

.scv-open-closed-state {
    float: right;
    cursor: pointer;
}

.scv-content {

}

.clearfix {
    overflow: auto;
}