body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #EAEAEA;
}

.scv {
    width: 300px;
    background: white;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.scv.is-closed {

}

.scv.is-open {

}

.scv-header {
    padding: 5px;
    color: white;
    background: black;
}

.scv-name {
    float: left;
}

.scv-open-closed-state {
    float: right;
    cursor: pointer;
}

.scv-content {

}

.clearfix {
    overflow: auto;
}