<div class="scv" data-route="{{ route }}">
    <div class="scv-header clearfix">
        <div class="scv-name">{{ name }}</div>
        <div class="scv-open-closed-state">+</div>
    </div>
    <div class="scv-content is-closed">{{ content }}</div>
</div>